.card{
    margin: auto;
    margin-top: 5px;
    width: 600px;
    height: auto !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /*background: #076585;  /*fallback for old browsers*/
    /*background: -webkit-linear-gradient(to right, #fff, #076585);  /*Chrome 10-25, Safari 5.1-6*/
    /*background: linear-gradient(to right, #fff, #076585); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
    /* background-color: #6AC8C7; */
    background: #acb6e5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e6d5f3, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e6d5f3, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*86fde8 the blue color*/
}
#names{
    margin-top: 50px;
    /* display: flex; */
    width: 500px;
}
.name{
    width: 400px;
    margin-right: 40px;
}
.surname{
    width: 200px;
    margin-left: 40px;
}
.email{
    width: 400px
}
.password{
    width: 400px;
}
#create{
    width: 400px;
    /* margin-top: 20px; */
}
form{
    justify-content: center;
}
/* .body{
    background-color: aqua;
} */
.container{
    width: 100vw;
    height: 100vh;
    background-color: #441B5F;
    /* position: fixed; */
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}
#create{
    background-color: #441B5F;
    color: #6AC8C7;
}
#outlined-required{
    color: blueviolet;
    border-color: blueviolet;
}

img{
    margin-right: 1200px;
    margin-top: 5px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.buttons > * {
    width: 40% !important;
    background-color: #441B5F !important;
    color: #6AC8C7 !important;
}