.Sidebar {
    background-color: rgba(61, 14, 54, 0.884);
    height: 670px;
}

.friend {
    width: 100%;
    background-color: rgb(211, 210, 210);;  /*#a5a5a5*/
    font-family: 'Righteous', cursive;
    font-size: large;
    padding: .6rem 0;
    transition: background-color .3s ease;
    border-bottom: darkgrey;
    border: solid 0.2px grey;
}

.friend:hover {
    cursor: pointer;
    background-color: grey;
}

h2 {
    margin: 0;
    background-color: rgb(91, 243, 240);
    padding: 1rem 0;
    color: rgba(61, 14, 54, 0.884);
    font-family: 'Bangers', cursive;
    font-size: 35px;
}

.input-row {
    background-color: rgb(91, 243, 240);
    padding: .3rem 0;
    display: flex;
    justify-content: space-evenly;
}

.input-row > input {
    border: 1px solid grey;
    padding: .3rem;
    border-radius: .2rem;
    width: 60%;
}

.input-row > button {
    width: 35%;
    background-color: white;
    border: 1px solid grey;
    border-radius: .2rem;
    transition: background-color .3s ease;
}

.input-row > button:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.add{
    font-family: 'Righteous', cursive;
    font-size: large;
}