
.Lobby {
    width: 80%;
    margin: auto;
    height: 674px;
    position: relative;
    background-color: rgba(61, 14, 54, 0.884)
}

.title {
    /*color: white !important;*/
   color:rgb(91, 243, 240) !important;   /*6AC8C7*/
   font-family: 'Bangers', cursive;
   padding-top: 10px;
}

.user {
    width: 300px;
    /* background-color: #a5a5a5; */
    background-color: rgb(91, 243, 240);
    color: rgba(61, 14, 54, 0.884);
    padding: 1rem;
    border-bottom: 1px solid grey;
    margin: auto;
    transition: background-color .5s ease;
    font-size: 1.4rem;
    font-family: 'Righteous', cursive;
}

.user:hover {
    cursor: pointer;
    background-color: grey;
}

.start-button {
    padding: .5rem;
    border: 0;
    margin-top: 2rem;
    background-color: rgb(91, 243, 240)  /*#45b545*/;
    transition: background-color .5s ease;
    font-size: 1.2rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    font-family: 'Righteous', cursive;
}

.start-button:hover {
    cursor: pointer;
    background-color: #25a525;
}

.character{
    width: 333px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: rgb(211, 210, 210);
    font-family: 'Righteous', cursive;
    font-size: large;
}